.aspect-ratio-box {
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: visible;
  background: var(--color-background-alt);
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.aspect-ratio-box-inside {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.responsive-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: var(--color-background-alt);
  transition: transform 0.5s ease;
}

/* Hide the overlay */
.image-overlay {
  display: none;
}

.image-title {
  color: var(--color-goldenrod);
  margin: 10px 0 0 0;
  font-size: 1.2rem;
  width: 100%;
  padding: 0 5px;
  font-family: Inter, sans-serif;
  text-align: start;
  font-weight: 600;
  font-size: 16px;
  /* Ensure text doesn't overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aspect-ratio-box:focus {
  outline: 2px solid var(--color-goldenrod);
  outline-offset: 2px;
}

.aspect-ratio-box:hover .responsive-image {
  transform: scale(1.05);
}

/* Responsive styles */
@media screen and (max-width: 725px) {
  .aspect-ratio-box-inside {
    height: auto !important;
  }
  
  .responsive-image {
    aspect-ratio: 16/9;
  }
} 