@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.AJ {
    width: 35%;
    height: 39vw;
    flex-shrink: 0;
    color: #FFF;
    font-size: 30vw;
    font-family: Kanit;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    padding-bottom: 1vw;
    margin: 0;
    bottom: 0;
}

.lastName {
    width: 100%;
    height: 15vw;
    flex-shrink: 0;
    text-align: left;
    color: #FFF;
    font-size: 8vw;
    font-family: Kanit;
    font-style: normal;
    font-weight: 800;
    display: inline-block;
    white-space: nowrap;
    overflow: visible;
    position: relative;
    padding-bottom: 1vw;
    margin: 0;
}

.professionalTitles {
    color: #FFF;
    font-family: Kanit;
    font-size: 2vw;
    height: 6vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    top: -2vw;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0.5vw;
}

.heroSection {
    display: flex;
    align-items: end;
    justify-content: space-between;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
}

.profileInfo {
    width: 65%;
    height: 31vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1vw;
    padding-left: 1vw;
    margin: 0 0;
}

.academicCredentials {
    padding: 0vw;
    margin: 0 0;
    font-family: 'Inter', sans-serif;
    font-size: 1vh;
}

.institution {
    padding: 0vw;
    margin: 0 0;
    font-family: 'Inter', sans-serif;
    font-size: 1.5vh;
}

.container {
    height: 107vh;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container {
        height: 102vh;
    }
}