@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

.TopSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
}

.sectionTitle {
    display: flex;  
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 10vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 40px 8px 0px 40px;
}

.bioContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    border-radius: 10px;
}

.bioContent h3 {
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px 0px 0px 0px;
}
.bioContent p {
    color: #B8B8B8;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px 0px 0px 0px;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.bioItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px 0px 16px 40px;
}

@media (max-width: 768px) {
    .aboutContainer {
        height: 45vh;
    }
}