.dividerContainer {
    background-color: var(--color-background);
    padding: 0;
    margin: 0;
}

.divider {
    border: none;
    border-top: 2px solid var(--color-background-alt);
    height: 0;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
}
  