/* Base Styles */
.featured-projects-section {
    padding: 50px;
    background-color: #333333;
    text-align: center;
}

.section-title {
    font-size: 2.5rem;
    color: goldenrod;
    margin-bottom: 30px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
}

/* Reuse the grid styles */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}